.bdsft-webrtc
  .stats
    position absolute
    top 10px
    width auto
    top auto
    bottom 40px
    right 0
    left auto
    background-color #292929
    border-radius 0
    border 1px solid #3c3c3c
    box-shadow none
    color #999999
    z-index 200
    padding 5px
    .table
      width auto
      border-spacing 5px
    .statsVideo
      position absolute
      white-space pre-wrap
      color #0082FF
      left 10px
      font-family arial
      font-size 18px
      text-decoration none
    .statsAudio
      position absolute
      white-space pre-wrap
      color #0082FF
      left 260px
      float left
      font-family arial
      font-size 18px
      text-decoration none
    a
      color #2BA6CB
    .spacer
      height 15px
    .statsDelay
      display none

    .videoKiloBitsSentPerSecondRow,
    .audioKiloBitsSentPerSecondRow,
    .videoKiloBitsReceivedPerSecondRow,
    .audioKiloBitsReceivedPerSecondRow,
    .videoPacketsLostRow,
    .videoPacketsLostPerRow,
    .audioPacketsLostRow,
    .audioPacketsLostPerRow,
    .videoGoogFrameRateSentRow,
    .videoGoogFrameRateReceivedRow,
    .audioAudioInputLevelRow,
    .audioAudioOutputLevelRow,
    .videoGoogFrameWidthReceivedRow,
    .videoGoogFrameHeightReceivedRow,
    .videoGoogFrameWidthSentRow,
    .videoGoogFrameHeightSentRow,
    .audioGoogRttRow,
    .audioGoogJitterReceivedRow,
    .videoStats,
    .audioStats
    &[class*="hasAudio"] .noStats,
    &[class*="hasVideo"] .noStats
    & [class*="avg"]
      display none

    &.hasVideoKiloBitsSentPerSecond .videoKiloBitsSentPerSecondRow,
    &.hasAudioKiloBitsSentPerSecond .audioKiloBitsSentPerSecondRow,
    &.hasVideoKiloBitsReceivedPerSecond .videoKiloBitsReceivedPerSecondRow,
    &.hasAudioKiloBitsReceivedPerSecond .audioKiloBitsReceivedPerSecondRow,
    &.hasVideoPacketsLost .videoPacketsLostRow, 
    &.hasVideoPacketsLostPer .videoPacketsLostPerRow,
    &.hasVideoPacketsLostPer .videoPacketsLostRow,
    &.hasAudioPacketsLost .audioPacketsLostRow,
    &.hasAudioPacketsLostPer .audioPacketsLostPerRow,
    &.hasAudioPacketsLostPer .audioPacketsLostRow,
    &.hasVideoGoogFrameRateSent .videoGoogFrameRateSentRow,
    &.hasVideoGoogFrameRateReceived .videoGoogFrameRateReceivedRow,
    &.hasAudioAudioInputLevel .audioAudioInputLevelRow,
    &.hasAudioAudioOutputLevel .audioAudioOutputLevelRow,
    &.hasVideoGoogFrameWidthReceived .videoGoogFrameWidthReceivedRow,
    &.hasVideoGoogFrameHeightReceived .videoGoogFrameHeightReceivedRow,
    &.hasVideoGoogFrameWidthSent .videoGoogFrameWidthSentRow,
    &.hasVideoGoogFrameHeightSent .videoGoogFrameHeightSentRow,
    &.hasAudioGoogRtt .audioGoogRttRow,
    &.hasAudioGoogJitterReceived .audioGoogJitterReceivedRow,
    &.hasAvgVideoKiloBitsSentPerSecond .avgVideoKiloBitsSentPerSecondRow,
    &.hasAvgAudioKiloBitsSentPerSecond .avgAudioKiloBitsSentPerSecondRow,
    &.hasAvgVideoKiloBitsReceivedPerSecond .avgVideoKiloBitsReceivedPerSecondRow,
    &.hasAvgAudioKiloBitsReceivedPerSecond .avgAudioKiloBitsReceivedPerSecondRow,
    &.hasAvgVideoPacketsLost .avgVideoPacketsLostRow, 
    &.hasAvgVideoPacketsLostPer .avgVideoPacketsLostPerRow,
    &.hasAvgVideoPacketsLostPer .avgVideoPacketsLostRow,
    &.hasAvgAudioPacketsLost .avgAudioPacketsLostRow,
    &.hasAvgAudioPacketsLostPer .avgAudioPacketsLostPerRow,
    &.hasAvgAudioPacketsLostPer .avgAudioPacketsLostRow,
    &.hasAvgVideoGoogFrameRateSent .avgVideoGoogFrameRateSentRow,
    &.hasAvgVideoGoogFrameRateReceived .avgVideoGoogFrameRateReceivedRow,
    &.hasAvgAudioAudioInputLevel .avgAudioAudioInputLevelRow,
    &.hasAvgAudioAudioOutputLevel .avgAudioAudioOutputLevelRow,
    &.hasAvgVideoGoogFrameWidthReceived .avgVideoGoogFrameWidthReceivedRow,
    &.hasAvgVideoGoogFrameHeightReceived .avgVideoGoogFrameHeightReceivedRow,
    &.hasAvgVideoGoogFrameWidthSent .avgVideoGoogFrameWidthSentRow,
    &.hasAvgVideoGoogFrameHeightSent .avgVideoGoogFrameHeightSentRow,
    &.hasAvgAudioGoogRtt .avgAudioGoogRttRow,
    &.hasAvgAudioGoogJitterReceived .avgAudioGoogJitterReceivedRow
      display block

    &[class*="hasAudio"] .audioStats,
    &[class*="hasVideo"] .videoStats
      display table-cell
      width 220px
    
    &.videoKiloBitsSentPerSecond .kiloBitsSentPerSecond-video,
    &.audioKiloBitsSentPerSecond .kiloBitsSentPerSecond-audio,
    &.videoKiloBitsReceivedPerSecond .kiloBitsReceivedPerSecond-video,
    &.audioKiloBitsReceivedPerSecond .kiloBitsReceivedPerSecond-audio,
    &.videoPacketsLost [id*="send-graph-container"] .packetsLost-video,
    &.videoPacketsLostPer [id*="send-graph-container"] .packetsLostPer-video,
    &.audioPacketsLost [id*="send-graph-container"] .packetsLost-audio,
    &.audioPacketsLostPer [id*="send-graph-container"] .packetsLostPer-audio,
    &.videoGoogFrameRateSent .googFrameRateSent-video,
    &.videoGoogFrameRateReceived .googFrameRateReceived-video,
    &.audioAudioOutputLevel .audioOutputLevel-audio,
    &.audioAudioInputLevel .audioInputLevel-audio,
    &.videoGoogFrameWidthReceived .googFrameWidthReceived-video,
    &.videoGoogFrameHeightReceived .googFrameHeightReceived-video,
    &.videoGoogFrameWidthSent .googFrameWidthSent-video,
    &.videoGoogFrameHeightSent .googFrameHeightSent-video,
    &.audioGoogRtt .googRtt-audio,
    &.audioGoogJitterReceived .googJitterReceived-audio
      display block

    &.audioOnly:not(.offerToReceiveVideo)
      top 45px
      bottom auto

  .stats-table-container, .stats-graph-sub-container
    display none

  @css {
    .bdsft-webrtc .statsVar {
      color: <%= statsColor %>;
    }
  }

  .stats-graph-sub-container
    canvas
      width 100%

  .stats.enableCallStats.stats-shown
    {fadeInPopup}

  .stats.enableCallStats:not(.stats-shown)
    {fadeOut}

